.navbar-default{
  border-color:red;
  background-color:gold;
}
.navbar-header{
  color:green;
}
a{
  color:green;
}
body{
  background-image:url("back.jpeg");
  background-size:cover;
  width:100%
}
.form_contact{
width:60%;
border:1px solid black;
float:center;
margin:30px;
padding:20px;
}
/*http://stackoverflow.com/questions/18529274/change-navbar-color-in-twitter-bootstrap-3*/

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: green;
}
.navbar-default .navbar-nav > li > a {
    color: red;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: green;
    background-color:yellow;
}

.navbar-nav{
  margin-left:190px;
}
.contact{
 background:white;
}
.col-sm-2{
  paddding-left:30px;
}