body{
  background-color:white;
}
h1,h4 {
  color:green;
}
h1{
 margin-left:15px;
}
h4{
  margin-left:25px;
}
.header{
  display:inline-block;
  margin-left:35px;
  margin-top:10px;
  position:static;
}
}
.top-level-buttons{
  display: inline-block;
  margin-top:1px;
  margin-left:60px;
}