<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Breezo</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="bootstrap/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="bootstrap/css/breeze.css">
    <link href="jquery/ui-examples.css" rel="stylesheet">
	<link href="jquery/jquery.ui/css/cupertino/jquery-ui-1.10.3.custom.css" rel="stylesheet">
    <script src = "bootstrap/js/jquery.min.js"></script>
    <script src = "bootstrap/js/bootstrap.min.js"></script>
    <script src="bootstrap/js/breeze.js"></script>
    <script src = "http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src = "http://code.jquery.com/mobile/1.4.4/jquery.mobile-1.4.4.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

</head>
<body>
<ul class="nav nav-pills">
   <li class="dropdown">
       <a class="dropdown-toggle" data-toggle="dropdown" href="#">Board</a>
   <ul class="dropdown-menu">

      <form class="navbar-form navbar-left" role="search">
         <div class="form-group">
            <input type="text" class="form-control" placeholder="find boards by name..">
         </div>
      </form>
           <div id="flip">
           <p><li>My Board<button>+</button></li></p>
           </div>
           <div id="panel">
            <p><li>Welcome Board</li></p>
           <li><a href="#">Create new Board</a></li>
           <li><a href="#">Always keep this menu open</a></li>
           <li><a href="#">see closed boards</a></li>
           </div>
   </ul>
   </li>
   <li>
       <form class="navbar-form navbar-left" role="search">
         <div class="form-group">
            <input type="text" class="form-control" placeholder="  ">
         </div>
      </form>
   <li><a href="#">Trello</a></li>
   <li class="dropdown">
       <a class="dropdown-toggle" data-toggle="dropdown" href="#">+</a>
      <ul class="dropdown-menu">
      <h3>Add<span><a href ="#">*</a></span> </h3>
      <hr/>
      <p>New Board</p>
      <li><blockquote><a href="#">A board is a collection of cards
               ordered in a list of lists.Use it to
               manage a project,track a collection or organize
               anything.</a> </blockquote></li>
      <p>New Organization</p>
      <li><blockquote><a href="#">An organization is a group of boards and
               people.Use it to group boards in your
               company,team,or family.</a> </blockquote></li>
      </ul>
      </li>

   <li class="dropdown">
       <a class="dropdown-toggle" data-toggle="dropdown" href="#">User name</a>
   <ul class=" dropdown-menu list-group">
       <li class="list-group-item"><a href="#">Profile</a></li>
       <li class="list-group-item"><a href="#">Cards</a></li>
       <li class="list-group-item"><a href="#">Settings</a></li>
       <hr/>
       <li class="list-group-item"><a href="#">Help</a></li>
       <li class="list-group-item"><a href="#">Apps</a></li>
       <li class="list-group-item"><a href="#">Shortcuts</a></li>
       <li class="list-group-item"><a href="#">Share Breezo</a></li>
   </ul>
   </li>
   <li class="dropdown">
       <a class="dropdown-toggle" data-toggle="dropdown" href="#">options</a>
       <ul class="dropdown-menu">
           <div class="no_note">
               <li><a href="#">No notification</a></li>
           </div>
           <div class="note">
               <li><a href="#">Notification</a></li>
           </div>
       </ul>
   </li>
</ul>

</body>
</html>
